################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TestModBus
/.vs
/SimpleHmi/.vs/SimpleHmiModBus
